/* Justin Garofolo © 2018 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 30px;
	color: #777;
}

.header_img
{
	max-width: 210px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_img_dashboard{
    max-height: 55px;
	padding: 15px;
	display: block;
}

.container {
	padding-top: 150px;
	max-width: 300px;
	width: 100%;
	margin: auto;
	position: relative;
	max-width: 1200px !important;
}

.quickicon {
	float: right;
	max-width: 50px;
	margin: 10px 10px 4px 4px;
	background: rgb(37, 37, 37);
}

.quickicon_f {
	float: right;
	max-width: 50px;
	margin: 10px 1px;
	background: rgb(37, 37, 37);
}

option,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
button {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

form#standard {
	background: #282828ea;
	padding: 25px;
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.07), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
    margin: auto;
    width: 30%;
}

h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
	font-weight: bold;
	color: #d5ecff;
}

h4 {
	color: #fff;
	margin: 15px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
}

fieldset {
	border: medium none !important;
	margin: 0 0 5px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

option,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

option:hover,
select:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

button {
	font-weight: 600;
	cursor: pointer;
	width: 100%;
	border: none;
	background: -webkit-linear-gradient(top, #7971ea 0%,rgba(6,135,240,1) 100%);
	color: #fff;
	border-radius: 5px;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

button:hover {
	color: #ffffff;
	background: #7971ea;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

button:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
	text-align: center;
}

input:focus,
textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
}

 ::-webkit-input-placeholder {
	color: #888;
}

 :-moz-placeholder {
	color: #888;
}

 ::-moz-placeholder {
	color: #888;
}

 :-ms-input-placeholder {
	color: #888;
}

select:required:invalid {
	color: gray;
}

option[value=""][disabled] {
	display: none;
}

option {
	color: black;
}

/* Style the tab */
.tab {
    float: left;
	background-color: #333333;
	border-radius: 8px 0 0 8px;
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.07), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width: 20%;
	margin-left: 15%;
}

a {
	text-decoration: none;
}

/* Style the buttons that are used to open the tab content */
.tab a {
    display: block;
    background-color: inherit;
    color: white;
    line-height: 60px;
    padding: 0 16px;
    width: 100%;
    font-weight: 600;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 15px;
}

.tab a:hover {
    background-color: #444444;
}

.tab a.active {
    background-color: #262626;
    font-weight: 600 !important;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 16px 16px;
	width: 50%;
    border-left: none;
	height: 500px !important;
	background-color: #272727;
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.07), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	overflow-y: auto;
	overflow-x: auto;
	border-radius: 0px 8px 8px 0px;
}

#tab-title {
	color: #32cd32;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: x-large;
}

.tab {
	height: 500px !important;
}

.topright {
	float: right;
	cursor: pointer;
	font-size: medium;
	padding-right: 15px;
	color: #fff;
}

.topright:hover {
	color: red;
}

.preinformation {
	color: #7971ea;
	font-weight: bold;
	display: inline-block;
	font-size: medium;
}

.extend {
	margin-top: 5px;
	max-width: 250px;
}

.information {
	color: #717777;
	display: inline-block;
	font-size: medium;
}

.normal { 
	max-width: 350px; 
}

input[type=text]{
    width:100%;
    margin:8px 0;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff3b;
    outline:none;
    padding:8px;
    box-sizing:border-box;
	transition:.3s;
	color: #fff;
}

  input[type=password]{
    width:100%;
    margin:8px 0;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff3b;
    outline:none;
    padding:8px;
    box-sizing:border-box;
	transition:.3s;
	color: #fff;
}

  input[type=email]{
    width:100%;
    margin:8px 0;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff3b;
    outline:none;
    padding:8px;
    box-sizing:border-box;
	transition:.3s;
	color: #fff;
}
  
  input[type=text]:focus{
  	border-bottom: 1px solid #fff;
}

  input[type=password]:focus{
	border-bottom: 1px solid #fff;
}

input[type=email]:focus{
	border-bottom: 1px solid #fff;
}
  
  .inputBox input[type=text]{
    padding-left:40px;
}
  .inputBox input[type=password]{
	padding-left:40px;
}

.inputBox input[type=email]{
	padding-left:40px;
}
  
  .inputBox{
    position:relative;
}
  
  .inputBox i{
    position:absolute;
    left:5;
    top:11px;
    padding:9px;
    color:#aaa;
    transition:.3s;
}
  
  .inputBox.inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
}
  
  .inputBox.inputIconBg input[type=text]:focus + i{
    color:#fff;
    background-color:dodgerBlue;
}