:root {
    --main-navbar: #111111;
    --main-background: #1a1a1c;
    --main-container: #18181a;
    /* pink color */
    /*--main-color: #EB6123; */
    /*--main-color-hover: D63DBF;*/
    /* orange color */
    --main-color: #EB6123;
    --main-color-hover: rgba(255, 163, 82, 0.4);
    --bright-pink: #EB6123;
    --contrast-blue: #3f50b5;
}

::-webkit-clear-button, ::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none; 
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

::-webkit-calendar-picker-indicator:hover {
    background-color: transparent;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1, h2, h3, h2, b {
    font-weight: 600 !important;
}

html {
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--main-background);
    font-family: 'CircularStd';
    color: #fff;
    margin-bottom: 50px;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
    padding-left: 0;
}

nav {
    z-index: 1000;
    height: 100%;
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--main-navbar);
    -webkit-box-shadow:-11px 5px 15px 0px #000000;
            box-shadow: -11px 5px 15px 0px #000000;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav .logo {
    margin-bottom: 45px;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,.7);
            box-shadow: 0 0 4px 0px rgba(0,0,0,.7);
}

nav .logo img {
    width: 100px;
}

nav ul:nth-child(2) li {
    height: 100px;
}

nav li {
    position: relative;
}

.active::after {
    content: "";
    display: block;
    width: 10px;
    height: 62px;
    background: var(--main-color);
    top: -16px;
    left: 80px;
    position: absolute;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

nav ul:nth-child(3){
    height: 150px;
    position: absolute;
    bottom: 0;
}

main {
    padding-top: 50px;
    padding-left: 140px;
    margin: 0 auto;
}

main .content {
    min-height: 90vh;
    margin: 0 auto;
    max-width: 1570px;
}

@media(max-width: 1835px) {
    main .content {
        margin-left: 50px;
    }
}

/* Buttons */

.btn-main {
    width: 210px;
    height: 45px;
    cursor: pointer;
    background-color: var(--main-color);
    border: 0;
    font-size: 15px !important;
    font-weight: 600;
    color: white !important;
    border-radius: 6px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    font-size: 1.1rem;
}

.btn-blue {
    background-color: var(--contrast-blue);
}

.btn-main:hover {
    background-color: D63DBF;
}

.btn-main:focus {
    outline: none;
}

.btn-blue:hover {
    background-color: var(--contrast-blue);
}

/* Modal */

summary {
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}

.ip-table th {
    color: var(--main-color);
}

.ip-table th:first-child, .ip-table td:first-child {
    padding-right: 40px;
}

.ip-table td span {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.ip-table td span img {
    margin-right: 8px;
}



.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto !important;
    background-color: rgba(0, 0, 0, 0.582);
}

.modal-content p {
    font-weight: normal;
}

.modal-content {
    position: relative;
    height: min-content !important;
    border-radius: 10px;
    background-color: #272727;
    padding: 20px;
    width: 550px;
}

.modal-content .input-group label {
    width: 175px;
}

.modal-header {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--main-color);
}

.modal-header h2 {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
}

.modal-content button {
    margin-top: 10px;
}

.modal-content .group-label {
    width: 90%;
}

.modal-content input {
    width: 250px;
}

.modal-content input {
    margin-bottom: 10px;
}

.modal-content .group-label label {
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 19px;
    color: #898989 !important;
}

.modal-content button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    bottom: -15px;
    right: -15px;
}

.green {
    color: #00e676;
}

.mobile-bar {
    display: none;
    width: 110vw;
    background-color: 111111;
    box-shadow: 0 8px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    align-items: center;
    padding: 20px;
    font-size: 30px;
    padding-right: 50px;
    margin-top: -10px;
    margin-left: -10px;
}

/* Sub status */
.active {
    color: #00e676;
}