
.vs/weebware/v15/.suo
*.db
*.opendb
*.ipch
*.exe
*.dll
*.iobj
*.ipdb
*.pdb
*.obj
*.tlog
*.log
*.idb
*.json
*.sqlite
weebware/PolyHook2/PolyHook_2_0/
*.tlog
*.tlog
*.tlog
*.obj
*.obj
weebware/Debug/create_move.obj
*.obj
*.obj
weebware/Debug/drawing.obj
