body, html {
    margin: 0;
    background-color: #1a1a1c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 80vw;
    width: 986px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    color: #EB6123;
}

article {
    margin: 40px auto;
}