::-webkit-scrollbar {				
    width: 13px;
    border: 1px solid #121212;
}
::-webkit-scrollbar-button {		
    height: 3px;
    background-color: #121212;
}
::-webkit-scrollbar-track {			
    background-color: #121212;
    width: 9px;
}
::-webkit-scrollbar-track-piece {	
    background-color: #121212;
}
::-webkit-scrollbar-thumb {	
    background: #EB6123;
    border-radius: 35px;
    border: 3px solid #121212;
}
::-webkit-scrollbar-thumb:hover {
    background: #EB6123;
}
::-webkit-scrollbar-corner {
    background: #121212;
}
::-webkit-scrollbar-resizer {
    background: #121212;
}