* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 100%;
  background: black;
  font-family: Verdana;
  color: #b7b7b2;
}

.header {
  width: 30%;
  margin: 40px auto 0px;
  color: #b7b7b2;
  text-align: center;
  padding: 10px 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px #3f3f3c;
  background: #101010;
  color: #b7b7b2;
}
.btn {
  padding: 10px 20px;
  font-size: 15px;
  color: #b7b7b2;
  background: #101010;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.select {
  position: relative;
  width: 100%;
  padding: 5px 35px 5px 5px;
  padding-left: 10px;
  font-size: 16px;
  height: 40px;
  border-width: 0px;
  background: rgb(43, 43, 49);
  color: rgba(255,255,255,0.75);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.minimal {
  position: relative;
  width: 100%;
  padding: 5px 35px 5px 5px;
  padding-left: 10px;
  font-size: 16px;
  height: 40px;
  border-width: 0px;
  background: rgb(43, 43, 49);
  color: rgba(255,255,255,0.75);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}