@charset "UTF-8";
::-moz-selection {
	background-color: #EB6123;
	color: #ddd
}

::selection {
	background-color: #EB6123;
	color: #ddd
}

* {
	padding: 0;
}

body {
	background-color: #121212;
	font-family: CircularStd;
	padding-top: 167px;
	margin: 0;
}

aside {
	width: 100%;
	z-index: 1000;
	padding: 177px 0;
	background-color: #222;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 650ms cubic-bezier(.51, .04, .12, .99);
	-o-transition: all 650ms cubic-bezier(.51, .04, .12, .99);
	transition: all 650ms cubic-bezier(.51, .04, .12, .99);
	position: fixed;
	top: 0
}

aside.open {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}

aside ul {
	list-style: none
}

aside ul li {
	margin: 30px 0
}

aside ul li a {
	color: #999;
	text-decoration: none;
	font-size: 26px;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear
}

aside ul li a:hover {
	color: #EB6123
}

nav {
	width: 100%;
	padding: 30px 0;
	background-color: #121212;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
	z-index: 999;
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

nav div#nav-wrapper {
	width: 65%;
	height: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none
}

nav ul li {
	margin: 0 15px
}

nav ul li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

nav ul li a:hover {
	color: #EB6123
}

div.nav-icon-wrapper {
	width: 65%;
	height: 47px;
	padding: 60px 0;
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: none;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1001
}

#nav-icon {
	height: 16px;
	width: 40px;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer
}


.btn-login {
	padding: 8px 10px;
	height: 45px;
	cursor: pointer;
	background-color: #EB6123;
	border: 0;
	color: #000000;
	border-radius: 6px;
	-webkit-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}

.btn-login:hover { color: #FFFFFF; }

#nav-icon span {
	height: 4px;
	width: 100%;
	background-color: #fff;
	display: block;
	-webkit-transition: all 650ms cubic-bezier(.51, .04, .12, .99);
	-o-transition: all 650ms cubic-bezier(.51, .04, .12, .99);
	transition: all 650ms cubic-bezier(.51, .04, .12, .99)
}

#nav-icon span:nth-child(2) {
	width: 60%
}

#nav-icon.active span:nth-child(2) {
	width: 100%
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 65%;
	padding-top: 30px;
	margin: 0 auto
}

header .text h1,
header .text p {
	text-align: right;
	color: #fff
}

header .text a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	display: block;
	margin-left: auto;
	width: 130px;
	font-weight: 700;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .text a img {
	margin: 0;
	height: 50px;
}

header .text h1 {
	font-size: 70px;
}

header .text p {
	width: 25vw;
	font-size: 24px;
	color: #a2a2a2
}

header img {
	height: 450px;
	width: auto;
	margin-bottom: 70px;
}

section#Features {
	background-color: #0b0b0b;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	position: relative;
	top: -35px;
	padding: 120px 0
}

section#Features h2 {
	font-size: 54px;
	margin-bottom: 20px;
	color: #fff
}

section#Features p {
	width: 42%;
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin-bottom: 120px
}

section#Features .feature {
	width: 65%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

section#Features .feature.right {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

section#Features .feature img {
	width: 50%;
	height: auto

}

section#Features .feature .text {
	width: 35%
}

section#Features .feature .text h3,
section#Features .feature .text p,
section#Features .feature .text ul {
	text-align: right;
	width: 100%
}

section#Features .feature.right .text h3,
section#Features .feature.right .text p,
section#Features .feature.right .text ul {
	text-align: left;
	width: 100%
}

section#Features .feature .text h3 {
	font-size: 37px;
	color: #fff
}

section#Features .feature .text p {
	font-size: 24px;
	color: #d3d3d3;
	margin-bottom: 12px
}

section#Features .feature .text ul li {
	list-style: none;
	color: #EB6123;
	font-size: 24px;
	margin: 10px;
	padding-left: .8em
}

section#Features .feature .text ul li::before {
	display: block;
	content: "-";
	display: inline-block;
	margin-left: -.8em;
	width: .8em;
	text-align: left
}

section#Features .bar {
	width: 65%;
	height: 4px;
	background-color: #EB6123;
	margin: 60px
}

section#Pricing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 100px 0
}

section#Pricing h2 {
	color: #fff;
	font-size: 45px
}

section#Pricing p {
	color: #fff;
	font-size: 21px;
	margin-top: 24px;
	margin-bottom: 60px
}

section#Pricing .boxes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 65%;
	margin: 0 auto
}

section#Pricing .boxes .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 20%;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
	padding: 50px 20px;
	border-radius: 25px
}

section#Pricing .boxes .box h3 {
	font-size: 26px;
	color: #b5b5b5;
	margin-bottom: 10px
}

section#Pricing .boxes .box .bar {
	width: 85%;
	height: 2px;
	background-color: #EB6123;
	margin-bottom: 20px
}

section#Pricing .boxes .box ul li {
	color: #b5b5b5;
	list-style: none;
	font-size: 18px;
	margin-bottom: 5px;
	padding-left: .9em
}

section#Pricing .boxes .box ul li::before {
	display: block;
	content: "\2022";
	color: #EB6123;
	display: inline-block;
	margin-left: -.9em;
	width: .9em;
	text-align: left
}

footer {
	width: 100%;
	background-color: #EB6123;
	padding: 80px 0
}

footer .group {
	width: 65%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: distribute;
	justify-content: space-between;
}

footer div.text {
	width: 24%
}

footer div h3 {
	color: #fff;
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom: 15px
}

footer div p {
	font-size: 19px;
	color: rgba(255, 255, 255, .75)
}

footer div ul {
	list-style: none
}

footer div ul li a {
	font-size: 19px;
	color: rgba(255, 255, 255, .75);
	text-decoration: none;
	-webkit-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear
}

footer div ul li a:hover {
	color: rgba(255, 255, 255, 1)
}

@media screen and (max-width:1670px) {
	footer .group,
	header,
	nav div#nav-wrapper,
	section#Features .bar,
	section#Features .feature {
		width: 75%
	}

	section#Pricing .boxes {
		width: 75%
	}

	section#Pricing .boxes .box {
		margin-bottom: 5vw
	}
}

@media screen and (max-width: 1580px) {
	section#Pricing .boxes {
		width: 50%
	}

	section#Pricing .boxes .box {
		width: 40%;
		margin-bottom: 5vw
	}
}

@media screen and (max-width:1350px) {
	header {
		padding: 100px 0
	}

	header .text {
		margin: 0 auto
	}

	header .text h1,
	header .text p {
		text-align: center;
		width: 40vw
	}

	header img {
		display: none
	}

	section#Features {
		top: 0
	}

	section#Features .bar {
		width: 25%
	}

	section#Features .feature img {
		width: 70%
	}

	section#Features .feature.left,
	section#Features .feature.right {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}

	section#Features .feature .text {
		width: 45%;
		margin-bottom: 20px
	}

	section#Features .feature .text h3 {
		margin-bottom: 10px
	}

	section#Features .feature .text h3,
	section#Features .feature .text p,
	section#Features .feature .text ul {
		text-align: center;
		width: 100%
	}

	section#Features .feature.right .text h3,
	section#Features .feature.right .text p,
	section#Features .feature.right .text ul {
		text-align: center;
		width: 100%
	}

	section#Pricing .boxes {
		width: 70%
	}

	footer {
		padding: 60px 0
	}

	footer .group {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	footer .group div {
		margin-bottom: 35px;
		width: 45%
	}

	footer .group div:last-child {
		margin-bottom: 0
	}

	footer .group div h3 {
		margin-bottom: 2px
	}
}

@media screen and (max-width:1250px) {
	section#Features .feature .text {
		width: 50%
	}

	section#Pricing p {
		width: 70%;
		text-align: center
	}
}

@media screen and (max-width:1000px) {
	header .text p {
		width: 55vw;
		margin: 0 auto
	}

	header .text h1,
	section#Features h2,
	section#Features p {
		width: 70vw;
		text-align: center
	}

	section#Features .feature img {
		width: 100%
	}

	section#Features .feature .text {
		width: 70%;
		margin-bottom: 20px
	}

	section#Pricing .boxes {
		width: 40%
	}

	section#Pricing .boxes .box {
		width: 100%
	}
}

@media screen and (max-width:800px) {
	footer .group div {
		width: 70%
	}

	nav ul {
		display: none
	}

	div.nav-icon-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex
	}
}

@media screen and (max-width:750px) {
	section#Pricing .boxes {
		width: 70%
	}
}

@media screen and (max-width:700px) {
	section#Features .feature .text {
		width: 90%;
		margin-bottom: 20px
	}

	header .text h1 {
		font-size: 50px
	}
}