:root {
    --main-navbar: #111111;
    --main-background: #1a1a1c;
    --main-container: #18181a;
    --contrast-blue: #3f50b5;
}

.header h2 {
    font-size: 2.9rem;
    margin-top: 0px;
    margin-left: 0;
    margin-bottom: 3rem;
}

.header .subtitle {
    color: #BABABA;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-top: -15px; 
    margin-bottom: 5rem;
}

.no-sub-box {
    height: 188px;
}

/* Main info */

.main-info, .info-row, .admin-main {
    max-width: 1300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main-info {
    margin-bottom: 100px;
}


.column h2 {
    color: #EB6123;
    margin: 0;
}

.main-info h2 {
    font-size: 2.3rem;
}

.column {
    width: 580px;
    background-color: var(--main-container);
    border-radius: 15px;
    padding: 20px 40px;
    -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main-info .column ul {
    margin-top: 0;
    font-size: 1.3rem;
    list-style-type: none;
}

.main-info .column li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #989898;
}

.main-info .column li b {
    width: 140px;
    color: #B5B5B5;
}
}

.main-info .column:nth-child(2) li b {
    width: 200px;
    color: #B5B5B5;
}

.main-info .column .btn-row button:first-child {
    margin-right: 25px;
}

/* Info row */

.info-row .body {
    color: #BABABA;
    padding-left: 40px;
    font-size: 15px;
    border-left: 2px solid #EB6123;
}

.info-row .column ul {
    font-size: 18px;
    margin-bottom: 0;
}

.info-row .column h2 {
    font-size: 1.8rem;
    margin-bottom: -15px;
}

.info-row .column h2 span {
    color: #8B8B8B;
}

.info-row .column:last-child {
    height: 200px;
}

.info-row .column:last-child p {
    font-size: 18px;
}

.info-row .column:last-child p, .info-row .column:last-child button {
    margin-left: -20px;
}

.info-row .column:nth-child(1) h2 {
    position: relative;
}

.info-row .column:nth-child(1) h2 i {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

/* Purchase page */
.main-purchase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-purchase .header {
    margin: 25px auto;
}

.main-purchase .header h2 {
    margin-bottom: 20px;
}

.main-purchase form {
    -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 0 auto;
    background-color: var(--main-container);
    width: 700px;
    height: 475px;
    border-radius: 10px;
}

.group-label {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.group-label label {
    color: #EB6123;
    font-size: 18px;
    font-weight: 500;
}

.group-label input, .group-label select, .group-label option, .group-label textarea {
    resize: none;
    font-family: inherit;
    padding: 12px 8px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #212121;
    color: #fff;
    border: 1px solid #212121;
}

.group-label input:focus, .group-label select:focus, .group-label option:focus, .group-label textarea:focus {
    outline: none;
    border: 1px solid #3f50b5;
}

.row-shop {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row-shop .group-label:first-child {
    margin-right: 25px;
}

.bottom-row-purchase {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price  {
    color: #898989;
}

.price p:first-child {
    font-size: 28px;
    margin: 0;
}

.price .act-price {
    margin: 0;
    color: #a3a3a3;
    font-size: 28px;
    font-weight: bold;
}

:disabled {
    cursor: not-allowed;
}

/* config page */

.config-list .header {
    margin-bottom: 50px;
}

.config-list ul {
    list-style-type: none;
    display: flex;
}

.config-list li {
    margin-right: 15px;
}

.config-list li:last-child {
    margin-right: 0;
}

.config-list .config .title {
    width: 125px;
}

.config-list .pagination {
    max-width: 1000px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending {		
    background-color: #FAA61A;		
}		
.pending:hover {		
    background-color: #FAA61A !important;		
}		
.declined {		
    background-color: #CC3B40;		
}		
.declined:hover {		
    background-color: #CC3B40;		
}

.config-list .pagination li {
    margin-right: 30px;
    cursor: pointer;
}

.config-list li:last-child {
    margin-right: 0;
}

.config-list .pagination i {
    font-size: 21px;
}

.config-list .config {
    margin-bottom: 20px;
    padding: 1px 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    color: #C3C3C3;
    justify-content: space-between;
    max-width: 1000px;
    background-color: #272727;
}

.config .title h3, .config .title p {
    margin: 0;
}

.config .title p {
    color: #888888;
    margin-top: -5px;
    font-size: 13px;
}

.config .ratings li {
    font-size: 20px;
}

.config .ratings li i {
    margin-right: 7px;
    color: #3abd3a;
}

.config .ratings li:nth-child(2) i {
    margin-right: 7px;
    color: rgb(160, 49, 49);
}

.tags li {
    color: white;
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.action {
    font-size: 20px;
    cursor: pointer;
}

.rage {
    background-color: #C9095A;
}

.legit {
    background-color: #0B31B1;
}

.skins {
    background-color: #EB6123;
}

.closet {
    background-color: #6829DE;
}

/* Admin page */

.admin-header {
    font-size: 2vw;
}

.admin-main h3, .list-row h3 {
    font-size: 30px;
}

.admin-main .overview-chart {
    width: 70%;
}

.overview-chart {
    max-height: 450px;
}

#main-chart {
    width: 100%;
    max-height: 100%;
    max-height: 350px;
}

.admin-main .list {
    width: 30%;
    max-height: 450px;
}

.admin-main .list ul {
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
    max-height: 90%;
}

.admin-main .list li {
    display: flex;
    padding: 15px 15px;
    font-size: 18px;
    margin-bottom: 8px;
    cursor: pointer;
    justify-content: space-between;
}

.admin-main .list li:nth-child(odd) {
    background-color: #18181a;
}

.admin-main .list i {
    color: #EB6123;
    cursor: pointer;
}

.admin-main .filters {
    display: flex;
    margin-bottom: 20px;
}

.admin-main  .overview-chart .group-label input{
    width: 155px;
}

.admin-main .overview-chart .group-label {
    margin-right: 16px;
}

.admin-main .overview-chart .group-label input {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
}

.admin-main .overview-chart .group-label:last-child {
    margin-right: 0;
}

.admin-main .date-input {
    display: flex;
    align-items: center;
}

.admin-main .date-input label {
    width: 59px;
    border-radius: 10px 0 0 10px;
    height: 45.3333px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    background-color: #212121;
}

/* HWID handle modal */

.normal {
    display: flex;  
}

.normal button {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    position: static;
}

.normal .group-label {
    flex-direction: row;
    justify-content: unset;
}

.normal label {
    margin-bottom: 0 !important;
    width: 110px !important;
}

.normal .group-label p {
    margin: 0;
    width: 290px;
}

.hwid_reason {
    box-sizing: content-box;
    height: 192px;
    background-color:  var(--main-container);
    padding: 5px;
    border-radius: 5px;
}

.normal .btn-row-hwid {
    margin-top: 14px;
    display: flex;
}

.normal .decline {
    background-color: #CC3B40;
    margin-left: 15px;
}

.normal .accept {
    background-color: #16a560;
}

/* Notification */

.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    background-color: #1D1D1D;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
}

.succes-alert {
    background-color: #3b8056;
}

.danger-alert {
    background-color: #c8272796;
}


.alert p {
    padding: 0 20px;
}

.alert i {
    cursor: pointer;
}

/* Badge */

.badge {
    position: absolute;
    top: -10px;
    background-color: var(--main-pink);
    right: -10px;
    width: 25px;
    color: white;
    display: flex;
    height: 19px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Hwid thing */
.hwid_reason {
    word-break: break-all;
    height: auto;
}

/* player search */

.list-row {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
}

.list-row .player-list {
    width: 100%;
}
.list-row .player-list:nth-child(1) {
    margin-right: 10%;
}

.list-row .btn-main {
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-row .header-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.list-row .data-list {*/
/*    width: 70%;*/
/*}*/

.list-row .data-list div:first-child {
    font-weight: 700;
    font-size: 17px;
    border-bottom: 1px solid var(--main-pink);
}

.list-row .data-list div p {
    display: flex;
    align-items: center;
    position: relative;
}

.list-row .data-list div p span:first-child {
    display: inline-block;
    width: 60px;
}
.list-row .data-list div p span:nth-child(2) {
    width: 100%;
}


.list-row .data-list div {
    font-size: 16px;
}

.searchbar {
    background-image: url('../images/search.svg');
    background-size: 21px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    height: 50px;
    padding: 12px 20px 12px 40px;
    resize: none;
    font-family: inherit;
    border-radius: 5px;
    font-size: 16px;
    background-color: #212121;
    color: #fff;
    border: 1px solid #212121;
}

/* Empty list */
.empty-list {
    cursor: default !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
}

.empty-list h3 {
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.empty-list span:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-list i {
    cursor: default !important;
    font-size: 60px;
    margin-bottom: 20px;
}

/* hwid */
.hwid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hwid-time {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: -5px;
}

.hwid-time span:nth-child(2) {
    font-size: 14px;
    color: #d0d0d0;
}