:root {
    --main-navbar: #111111;
    --main-background: #1a1a1c;
    --main-container: #18181a;
    --main-pink: #D950C4;
    --bright-pink: #D950C4;
    --contrast-blue: #3f50b5;
}

h1, h2, h3, h2, b {
    font-weight: 600 !important;
}

html {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--main-background);
    font-family: 'CircularStd';
    color: #fff;
    margin-bottom: 100px;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 300px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #18181a;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.login {
    height: 340px;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 180px;
    height: 45px;
    display: block;
    margin: 20px 0;
    cursor: pointer;
    background-color: var(--main-pink);
    border: 0;
    font-size: 15px !important;
    font-weight: 600;
    color: white;
    border-radius: 6px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    font-size: 1.1rem;
}

input {
    width: 100%;
    resize: none;
    font-family: inherit;
    padding: 12px 8px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #212121;
    color: #fff;
    border: 1px solid #212121; 
    margin-bottom: 15px;
}

input[type=email] {
    margin-bottom: 30px;
}

input:focus {
    outline: none;
    border: 1px solid #3f50b5;
}

a {
    text-decoration: none;
    color: #D950C4;
    font-size: 16px;
}

img {
    margin-bottom: 30px;
}