body {
  background-color: #161616;
  font-family: verdana;
}
h1 {
  font-size: 28px;
  padding-top: 20px;
  color: #eaeaea;
  padding-bottom: 0px;
}
p {
  font-size: 12px;
  color: #eaeaea;
}

#one {
  padding: 5px;
  background-color: #1e1e1e;
  width: 800px;
  margin-bottom: 25px;
}