body {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	background-color: black;
}

p {
	color: white;
	margin:0 0 0 0px;
	padding-left: 10px;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}

.bottomright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    max-height: 35%;
}